{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article>

    <p>
      <strong>{{ title }}</strong> [<a href="{{ post.file }}">PDF</a>] {{ post.authors }}<br>

      {% if post.journal and post.galleys %}
        To appear in: <i>{{ post.journal }}</i>
      {% elsif post.journal %}
        {% if post.number and post.issue and post.pages %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>:{{ post.issue }}({{ post.number }}) {{ post.date | default: "1900-01-01" | date: "(%Y)" }}, pp {{ post.pages }}
        {% elsif post.number and post.issue %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>:{{ post.issue }}({{ post.number }}) {{ post.date | default: "1900-01-01" | date: "(%Y)" }}
        {% elsif post.number and post.pages %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>({{ post.number }}) {{ post.date | default: "1900-01-01" | date: "(%Y)" }}, pp {{ post.pages }}
        {% elsif post.number %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>({{ post.number }}) {{ post.date | default: "1900-01-01" | date: "(%Y)" }}
        {% elsif post.issue and post.pages %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>:{{ post.issue }} {{ post.date | default: "1900-01-01" | date: "(%Y)" }}, pp {{ post.pages }}
        {% elsif post.issue %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b>:{{ post.issue }} {{ post.date | default: "1900-01-01" | date: "(%Y)" }}
        {% elsif post.pages %}
          In: <i>{{ post.journal }}</i> <b>{{ post.volume }}</b> {{ post.date | default: "1900-01-01" | date: "(%Y)" }}, pp {{ post.pages }}
        {% endif %}
      {% endif %}

      {% if post.preprint %}
        (preprint)
      {% endif %}

        || arXiv: <a href=" https://arxiv.org/abs/{{ post.arxiv }} ">{{ post.arxiv }}</a>
      
      {% if post.doi %}
        || DOI: <a href=" https://doi.org/{{ post.doi }} ">{{ post.doi }}</a>
      {% endif %}
      
      {% if post.journalurl %}
        || At <a href=" {{ post.journalurl }} ">{{ post.journal }}</a>
      {% endif %}
    </p>

  </article>
</div>
