{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <p>
      <strong>{{ title }}</strong> <i>{{ post.type }} at {{ post.event }}</i><br>

      {% if post.online %}
        {{ post.institution }} &mdash; (online) &mdash; {{ post.month }} {{ post.year }}
      {% elsif %}
        {{ post.institution }} &mdash; {{ post.city }}, {{ post.country }} &mdash; {{ post.month }} {{ post.year }}
      {% endif %}
    </p>

  </article>
</div>
